* {
    font-family: sans-serif;
  }
  input,
  button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  input {
    display: block;
    margin-bottom: 20px;
  }

  button {
    border: 1px solid gray;
    background: white;
    margin-right: 5px;
    box-shadow: 0 5px rgb(189, 187, 187);
  }

  button:hover {
    background: whitesmoke;
  }

  button:active {
    background: whitesmoke;
    box-shadow: 0 3px rgba(20, 20, 20, 0.486);
    transform: translateY(4px);
  }

  button:nth-last-child(2),
  button:nth-last-child(1) {
    background: tomato;
    color: white;
  }

  button:nth-last-child(2):hover,
  button:nth-last-child(1):hover {
    background: rgb(243, 104, 79);
    color: white;
  }
